<%= form_for(dictionary) do |f| %>
  <% if dictionary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dictionary.errors.count, "error") %> prohibited this dictionary from being saved:</h2>

      <ul>
      <% dictionary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :word %>
    <%= f.text_field :word %>
  </div>

  <div class="field">
    <%= f.label :partOfSpeech, 'Part of Speech' %>
    <%= f.text_field :partOfSpeech %>
  </div>

  <div class="field">
    <%= f.label :definition %>
    <%= f.text_area :definition, cols: "100", rows: "5" %>
  </div>

  <div class="field">
    <%= f.label :wordUsage, 'Word Usage' %>
    <%= f.text_area :wordUsage, cols: "100", rows: "10"  %>
  </div>

  <div class="actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>
